/**
/* ------------------------------------------------------ */
/* ############### 1. GOOGLE FONTS IMPORT ############### */
/* ------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text");

html, body, * {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.navbar {
    padding: 20px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.navbar .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-content .navbar-logo {
    font-size: 1.5rem;
}

footer {
    background: #262626;
    color: white;
    padding: 20px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
}